<!DOCTYPE html>
@{
    ViewData["Title"] = "Home Page";
}
<html>
    <link rel="stylesheet" href="~/css/site.css" />
<div class="text-center">
    <newstyle>Witaj Świecie</newstyle>
    
</div>
</html>